{
  // This comment is allowed even though it is not valid JSON.
  // To Run: java -jar plovr-eba786b34df9.jar build plovr.config
  // To Develop: Compile in mode RAW

  "id": "quizly",
  "output-charset" : "UTF-8",
  "output-file": "quizly-gcb-blockly-all.js",
  "closure-library" : "./closure-library-read-only/closure/goog",
//  "mode": "WHITESPACE_ONLY",
//  "mode": "RAW",
  "paths": [],
  "inputs":  [

    // Adapted from appinventor/blocklyeditor/ploverConfig.js
    // appinventor is a soft link to the appinventor directory

   //  Quizly: Toolbox vs. Drawer Workspace metrics
   //    './appinventor/lib/blockly/src/core/blockly.js',
    './appinv-revised/blockly.js',

    //msg/js/*.js has to come next (for constants)

    './appinventor/blocklyeditor/src/msg/zh_tw/_messages.js',
    './appinventor/blocklyeditor/src/msg/zh_cn/_messages.js',
    './appinventor/blocklyeditor/src/msg/en/_messages.js',

    // Lyn's instrumentation code
    './appinventor/blocklyeditor/src/instrument.js',

    //the rest of the blockly .js files can come in any order

    './appinventor/lib/blockly/src/core/block.js',
    './appinventor/lib/blockly/src/core/blocks.js',
    './appinventor/lib/blockly/src/core/block_svg.js',
    //'./appinventor/lib/blockly/src/core/blockly.js',
    './appinventor/lib/blockly/src/core/bubble.js',
    './appinventor/lib/blockly/src/core/comment.js',
    './appinventor/lib/blockly/src/core/connection.js',
    './appinventor/lib/blockly/src/core/contextmenu.js',
    './appinventor/lib/blockly/src/core/css.js',
    './appinventor/lib/blockly/src/core/field.js',
    './appinventor/lib/blockly/src/core/field_angle.js',
    './appinventor/lib/blockly/src/core/field_checkbox.js',
    './appinventor/lib/blockly/src/core/field_colour.js',
    './appinventor/lib/blockly/src/core/field_dropdown.js',
    './appinventor/lib/blockly/src/core/field_image.js',
    './appinventor/lib/blockly/src/core/field_label.js',
    './appinventor/lib/blockly/src/core/field_textinput.js',
    './appinventor/lib/blockly/src/core/field_variable.js',
    './appinventor/lib/blockly/src/core/flyout.js',
    './appinventor/lib/blockly/src/core/generator.js',
    './appinventor/lib/blockly/src/core/icon.js',


     // Quizly: Adds the backpack
     //    './appinventor/lib/blockly/src/core/inject.js',
    './appinv-revised/inject.js',

    './appinventor/lib/blockly/src/core/input.js',
    './appinventor/lib/blockly/src/core/msg.js',
    './appinventor/lib/blockly/src/core/mutator.js',
    './appinventor/lib/blockly/src/core/names.js',
    './appinventor/lib/blockly/src/core/procedures.js',
    './appinventor/lib/blockly/src/core/realtime.js',
    './appinventor/lib/blockly/src/core/realtime-client-utils.js',
    './appinventor/lib/blockly/src/core/scrollbar.js',
    //'./appinventor/lib/blockly/src/core/toolbox.js',
    './appinventor/lib/blockly/src/core/tooltip.js',
    './appinventor/lib/blockly/src/core/trashcan.js',
    './appinventor/lib/blockly/src/core/utils.js',
    './appinventor/lib/blockly/src/core/variables.js',

    //'./appinventor/lib/blockly/src/core/warning.js',
    './appinv-revised/warning.js',

    './appinventor/lib/blockly/src/core/widgetdiv.js',
    './appinventor/lib/blockly/src/core/workspace.js',
    './appinventor/lib/blockly/src/core/xml.js',


    // Quizly: Typeblock: uncomment Toolbox div
    //    './appinventor/lib/blockly/src/core/typeblock.js',
    './appinv-revised/typeblock.js',

    //finally, include any of our own .js file in any orde
    "./appinventor/blocklyeditor/src/blocklyeditor.js",
    "./appinventor/blocklyeditor/src/blockColors.js",
    "./appinventor/blocklyeditor/src/translation_properties.js",
    "./appinventor/blocklyeditor/src/translation_events.js",
    "./appinventor/blocklyeditor/src/translation_methods.js",
    "./appinventor/blocklyeditor/src/translation_params.js",
    "./appinventor/blocklyeditor/src/component.js",

    // Quizly: Uses Toolbox not Drawer
    //    "./appinventor/blocklyeditor/src/drawer.js",
    "./appinv-revised/drawer.js",

    "./appinventor/blocklyeditor/src/savefile.js",
    "./appinventor/blocklyeditor/src/versioning.js",
    "./appinventor/blocklyeditor/src/mutators.js",
    "./appinventor/blocklyeditor/src/field_lexical_variable.js",

    //"./appinventor/blocklyeditor/src/errorIcon.js",
    "./appinv-revised/errorIcon.js",

    "./appinventor/blocklyeditor/src/warningHandler.js",
    "./appinventor/blocklyeditor/src/field_procedure.js",
    "./appinventor/blocklyeditor/src/field_textblockinput.js",

    //"./appinventor/blocklyeditor/src/warningIndicator.js",
    "./appinv-revised/warningIndicator.js",

    "./appinventor/blocklyeditor/src/flydown.js",
    "./appinventor/blocklyeditor/src/field_flydown.js",
    "./appinventor/blocklyeditor/src/field_parameter_flydown.js",
    "./appinventor/blocklyeditor/src/field_global_flydown.js",
    "./appinventor/blocklyeditor/src/field_procedure_flydown.js",
    "./appinventor/blocklyeditor/src/nameSet.js",
    "./appinventor/blocklyeditor/src/substitution.js",
    "./appinventor/blocklyeditor/src/language_switch.js",

    //blocks files:  Loaded separately from  gcb/ folder
#     './appinventor/blocklyeditor/src/blocks/control.js',
#     './appinventor/blocklyeditor/src/blocks/logic.js',
#     './appinventor/blocklyeditor/src/blocks/text.js',
#     './appinventor/blocklyeditor/src/blocks/lists.js',
#     './appinventor/blocklyeditor/src/blocks/math.js',
#     './appinventor/blocklyeditor/src/blocks/utilities.js',
#     './appinventor/blocklyeditor/src/blocks/procedures.js',
#     './appinventor/blocklyeditor/src/blocks/lexical-variables.js',
#     './appinventor/blocklyeditor/src/blocks/colors.js',
#     './appinventor/blocklyeditor/src/blocks/components.js',

    //generator files:  Not needed for Quizly
//     "./appinventor/blocklyeditor/src/generators/yail.js",
//     "./appinventor/blocklyeditor/src/generators/yail/componentblock.js",
//     "./appinventor/blocklyeditor/src/generators/yail/lists.js",
//     "./appinventor/blocklyeditor/src/generators/yail/math.js",
//     "./appinventor/blocklyeditor/src/generators/yail/control.js",
//     "./appinventor/blocklyeditor/src/generators/yail/logic.js",
//     "./appinventor/blocklyeditor/src/generators/yail/text.js",
//     "./appinventor/blocklyeditor/src/generators/yail/colors.js",
//     "./appinventor/blocklyeditor/src/generators/yail/variables.js",
//     "./appinventor/blocklyeditor/src/generators/yail/procedures.js",

    //versioning files
    "./appinventor/blocklyeditor/src/versioning/017_blocksOverhaul.js",

    // Repl  Not needed for Quizly
    //    "./appinventor/blocklyeditor/src/replmgr.js"
   ]
}