{
  // This comment is allowed even though it is not valid JSON.
  // To Run: java -jar plovr-eba786b34df9.jar build plovr.config

  // To Develop: Compile in mode RAW
  // Advanced mode gives great compression but doesn't work.

  "id": "quizly",
  "output-charset" : "UTF-8",
  "closure-library" : "./closure-library-read-only/closure/goog",
//  "mode": "WHITESPACE_ONLY",
//  "mode": "RAW",
  "mode": "SIMPLE",
//  "mode": "ADVANCED",
  "paths": [],
  "module-output-path": "all_%s.js",
  "modules": {
     "blockly": {
        "inputs": [
		  './quizme-appinv-revised/blockly.js',
		  './appinventor/lib/blockly/src/core/bubble.js',
		  './appinventor/lib/blockly/src/core/comment.js',
		  './appinventor/lib/blockly/src/core/connection.js',
		  './appinventor/lib/blockly/src/core/contextmenu.js',
		  './appinventor/lib/blockly/src/core/css.js',
		  './appinventor/lib/blockly/src/core/field.js',
		  './appinventor/lib/blockly/src/core/field_angle.js',
		  './appinventor/lib/blockly/src/core/field_checkbox.js',
		  './appinventor/lib/blockly/src/core/field_colour.js',
		  './appinventor/lib/blockly/src/core/field_dropdown.js',
		  './appinventor/lib/blockly/src/core/field_image.js',
		  './appinventor/lib/blockly/src/core/field_label.js',
		  './appinventor/lib/blockly/src/core/field_textinput.js',
		  './appinventor/lib/blockly/src/core/field_variable.js',
		  './appinventor/lib/blockly/src/core/flyout.js',
		  './appinventor/lib/blockly/src/core/generator.js',
		  './appinventor/lib/blockly/src/core/icon.js',
		  './quizme-appinv-revised/inject.js',
		  './appinventor/lib/blockly/src/core/input.js',
		  './appinventor/lib/blockly/src/core/mutator.js',
		  './appinventor/lib/blockly/src/core/names.js',
		  './appinventor/lib/blockly/src/core/procedures.js',
		  './appinventor/lib/blockly/src/core/realtime.js',
		  './appinventor/lib/blockly/src/core/realtime-client-utils.js',
		  './appinventor/lib/blockly/src/core/scrollbar.js',
		  //'./appinventor/lib/blockly/src/core/toolbox.js',
                  './quizme-appinv-revised/blockly-toolbox.js',
		  './appinventor/lib/blockly/src/core/tooltip.js',
		  './appinventor/lib/blockly/src/core/trashcan.js',
		  './appinventor/lib/blockly/src/core/utils.js',
		  './appinventor/lib/blockly/src/core/variables.js',
		  //'./appinventor/lib/blockly/src/core/warning.js',
		  './quizme-appinv-revised/warning.js',
		  './appinventor/lib/blockly/src/core/widgetdiv.js',
		  './appinventor/lib/blockly/src/core/workspace.js',
		  './appinventor/lib/blockly/src/core/xml.js',
		  './quizme-appinv-revised/typeblock.js',
		  './appinventor/lib/blockly/src/core/msg.js',
		  './appinventor/lib/blockly/src/core/block.js',
		  './appinventor/lib/blockly/src/core/blocks.js',
		  './appinventor/lib/blockly/src/core/block_svg.js'
                  ],
        "deps": []
     },
     "appinv": {
        "inputs": [
		  './appinventor/blocklyeditor/src/msg/zh_tw/_messages.js',
		  './appinventor/blocklyeditor/src/msg/zh_cn/_messages.js',
		  './appinventor/blocklyeditor/src/msg/en/_messages.js',
		  './appinventor/blocklyeditor/src/msg/es_es/_messages.js',
		  './appinventor/blocklyeditor/src/msg/it_it/_messages.js',
		  './appinventor/blocklyeditor/src/msg/ru/_messages.js',
		  './appinventor/blocklyeditor/src/msg/ko_kr/_messages.js',
		  './appinventor/blocklyeditor/src/msg/sv/_messages.js',
		  './appinventor/blocklyeditor/src/instrument.js',
		  //'./appinventor/lib/blockly/src/core/blockly.js',
		  // Include Appinventor blockly editor files in any order
		  "./appinventor/blocklyeditor/src/backpack.js",
		  "./appinventor/blocklyeditor/src/blocklyeditor.js",
		  "./appinventor/blocklyeditor/src/blockColors.js",
		  "./appinventor/blocklyeditor/src/translation_properties.js",
		  "./appinventor/blocklyeditor/src/translation_events.js",
		  "./appinventor/blocklyeditor/src/translation_methods.js",
		  "./appinventor/blocklyeditor/src/translation_params.js",
		  "./appinventor/blocklyeditor/src/component.js",
		  "./appinventor/blocklyeditor/src/util.js",

		  // Quizly: Uses Toolbox not Drawer
		  //    "./appinventor/blocklyeditor/src/drawer.js",
		  "./quizme-appinv-revised/drawer.js",
		  "./appinventor/blocklyeditor/src/savefile.js",
		  "./appinventor/blocklyeditor/src/versioning.js",
		  "./appinventor/blocklyeditor/src/mutators.js",
		  "./appinventor/blocklyeditor/src/field_lexical_variable.js",

		  //"./appinventor/blocklyeditor/src/errorIcon.js",
		  "./quizme-appinv-revised/errorIcon.js",

		  "./appinventor/blocklyeditor/src/warningHandler.js",
		  "./appinventor/blocklyeditor/src/field_procedure.js",
		  "./appinventor/blocklyeditor/src/field_textblockinput.js",

		  //"./appinventor/blocklyeditor/src/warningIndicator.js",
		  "./quizme-appinv-revised/warningIndicator.js",

		  "./appinventor/blocklyeditor/src/flydown.js",
		  "./appinventor/blocklyeditor/src/field_flydown.js",
		  "./appinventor/blocklyeditor/src/field_parameter_flydown.js",
		  "./appinventor/blocklyeditor/src/field_global_flydown.js",
		  "./appinventor/blocklyeditor/src/field_procedure_flydown.js",
		  "./appinventor/blocklyeditor/src/nameSet.js",
		  "./appinventor/blocklyeditor/src/substitution.js",
		  "./appinventor/blocklyeditor/src/language_switch.js",
		  './appinventor/blocklyeditor/src/versioning.js',

		  //blocks files:  Loaded separately from  quizme-blocks/ folder
		  './quizme-blocks/control.js',
		  './quizme-blocks/logic.js',
		  './quizme-blocks/text.js',
		  './quizme-blocks/lists.js',
		  './quizme-blocks/math.js',
		  './quizme-blocks/utilities.js',
		  './quizme-blocks/procedures.js',
		  './quizme-blocks/lexical-variables.js',
		  './quizme-blocks/colors.js',
		  './quizme-blocks/components.js'
                  ],
                 "deps": ["blockly"]
     },
     "quizly": {
        "inputs": [
		 './quizme-javascript/javascript.js',
		 './quizme-javascript/logic.js',
		 './quizme-javascript/control.js',
		 './quizme-javascript/procedures.js',
		 './quizme-javascript/math.js',
		 './quizme-javascript/lists.js',
		 './quizme-javascript/text.js',
		 './quizme-javascript/variables.js',
		 './quizme-javascript/componentblock.js',

		 './quizme-initblocklyeditor.js',
		 './quizme.js',
//  Because plovr renames functions, eval() doesn't work in 
//  testFunctionAgainstStandard().  So we don't compile quizme-helper.js
//		 './quizme-helper.js',
		 './quizme-components.js',
		 './quizme-component-types.js',
		 './makequiz-helper.js',
		 './quizme-eval.js',
		 './quizme-overrides.js'
               ],
              "deps": ["blockly", "appinv"]
     }
   }
}